div {
    width: 200px;
    height: 200px;
    border: 3px solid black;
}

#image {
    background-image: url('chat.jpg');
    background-size: cover;
    width: 100px;
    height: 100px;
}

#image2 {
    background-image: url('chat2.jpg');
    background-size: cover;
}

#image3 {
    background-image: url('chat3.jpg');
    background-size: cover;
}

#image4 {
    background-image: url('chat4.jpg');
    background-size: cover;
}

#image5 {
    background-image: url('chat5.jpg');
    background-size: cover;
}

#image6 {
    background-image: url('chat6.jpg');
    background-size: cover;;
}

#image7 {
    background-image: url('chat7.jpg');
    background-size: cover;
}

#image8 {
    background-image: url('chat8.jpg');
    background-size: cover;
}

#image9 {
    background-image: url('chat9.jpg');
    background-size: cover;
}

#image10 {
    background-image: url('chat10.jpeg');
    background-size: cover;
}